<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <span>Menú</span>

            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu
                </mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="/sepulturas/agregarsep" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>view_carousel</mat-icon>
                <span>Añadir Sepulturas</span>
            </a>
            <a routerLink="/sepulturas/mostrarsep" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>visibility</mat-icon>
                <span>Mostrar Sepulturas</span>
            </a>
            <a routerLink="/fallecidos/agregar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Agregar Registros</span>
            </a>
            <a routerLink="/fallecidos/buscar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>
                <span>Buscar Registros</span>
            </a>
            <a routerLink="/fallecidos/listado" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>label</mat-icon>
                <span>Listar Registros</span>
            </a>
            <a routerLink="/fallecidos/editar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>edit</mat-icon>
                <span>Editar Registros</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar>

        
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu
            </mat-icon>
        </button>
        <span class="spacer"></span>
        <mat-nav-list>
        <a routerLink="/auth" mat-list-item (click)="sidenav.toggle()">
            <span>Salir</span>
        </a>
    </mat-nav-list>
        <!--<button mat-button><a routerLink="/auth">Salir</a></button>-->
    </mat-toolbar>


    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>