<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">
            Ir a Login
        </a>
    </li>
    <li>
        <a routerLink="/auth/registro">
            Ir a Registros
        </a>
    </li>
    <li>
        <a routerLink="/fallecidos/agregar">
            Ir a Agregar Registros
        </a>
    </li>
    <li>
        <a routerLink="/fallecidos/buscar">
            Ir a Buscar Registros
        </a>
    </li>
    <li>
        <a routerLink="/fallecidos/editar">
            Ir a Editar Registros
        </a>
    </li>
    <li>
        <a routerLink="/fallecidos/home">
            Ir a Inicio
        </a>
    </li>
    <li>
        <a routerLink="/fallecidos/listado">
            Ir a Listar Registros
        </a>
    </li>
    <li>
        <a routerLink="/fallecidos/buscar/id">
            Ir a Buscar Registros por Id
        </a>
    </li>
</ul>