
<form (ngSubmit)="guardar()" [formGroup]="miFormulario">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input  type="text" 
            class="form-control" 
            id="nombre" 
            aria-describedby="emailHelp"
            formControlName="name">
    <div id="textoAviso" class="form-text">Solamente nombre sin apellidos.</div>
  </div>
  <div class="mb-3">
    <label for="apellidos" class="form-label">Apellidos</label>
    <input type="text" 
    formControlName="apellidos"
    class="form-control" 
    id="apellidos">
  </div>
  <div class="mb-3">
    <label for="mote" class="form-label">Mote</label>
    <input 
    type="text" 
    class="form-control" 
    formControlName="mote"
    id="mote">
  </div>
  <div class="mb-3">
    <label for="nacio" class="form-label">Fecha de Nacimiento</label>
    <input 
    type="date" 
    class="form-control" 
    formControlName="nacio"
    id="nacio">
  </div>
  <div class="mb-3">
    <label for="fallecio" class="form-label">Fecha de defunción</label>
    <input 
    type="date" 
    class="form-control" 
    formControlName="fallecio"
    id="fallecio">
  </div>
  <div class="mb-3">
    <label for="foto" class="form-label">Fotografia</label>
    <input 
    type="file" 
    class="form-control" 
    formControlName="url"
    id="foto">
  </div>
  <div class="mb-3">
    <label for="sepultura" class="form-label">Lugar de enterramiento</label>
    <input 
    type="file" 
    class="form-control" 
    formControlName="sepult"
    id="sepult">
  </div>
  
  <div class="mb-3 form-check">
    <input 
    type="checkbox" 
    class="form-check-input" 
    name="consentimiento"
    id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Doy mi consentimientod</label>
  </div>
  <button type="submit" [disabled]="consentimiento === false" class="btn btn-primary float-end">Enviar datos</button>
</form>

<!-- 


<div fxLayout="row wrap" fxLayoutGap="30px">
  
  <div class="col">
    <form>
  <div class="hijo-1">
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <input type="text"
           class="col-sm-9 form-control"
           formControlName="nacio"
           placeholder="">
</div>
</div>

  
  <div class="hijo-2">
  <div class="">
    <input type="text"
           class="form-control"
           formControlName="nacio"
           placeholder="Fecha de nacimiento del fallecido">
</div>
</div>

  
  <div class="hijo-3">
    <div class="">
    <input type="text"
           class="form-control"
           formControlName="nacio"
           placeholder="Fecha de nacimiento del fallecido">
</div>
</div>
</form>
</div>
</div>
 -->